extends  layout 
block content 
  .container
      h2.text-center Login
      form.form-group(method="post")
        label(for='name') Name
        input.form-control(type='text' name='username' id='' aria-describedby='helpId' placeholder='Enter Name')
        label(for='Password') Password
        input.form-control(type='password' name='userpass' id='' aria-describedby='helpId' placeholder='Enter Password')
        button.btn.btn-primary.mt-3 Login 
        span.ml-5.mt-3  
            a(style="color:red;text-decoration:underline" href="/register") Register
        if err
            p(style="color:red") Incorrect Name/Password
    